{% extends 'base.html.twig' %}

{% block title %}
    <title>Blog des génies</title>
{% endblock %}

    {% block body %}
        <h1>Ici : tous les articles super cool du blog</h1>

    {% endblock %}




